.side-bar{
    width: 14%;
    border: 1px solid gray;
    height: 100vh;
    
    position: fixed;
    background-color: black;
    color: white;
}
.icons{
    color: rgb(255, 255, 255);
    margin-right: 40px;
}
li{
    margin-top:20px ;
    font-size: 18px;
    padding: 10px;
    border-radius: 4px;
}
li:hover{
background-color: rgba(177, 176, 176 ,0.2);
    
    
}

a{
    color: white;
    text-decoration: none;
}


.dashboard{
    margin-top: 56px;
}